nav{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(235,87,87,1);
    .logo{
        margin-left: 20px;
        font-size: 20px;
        color:white;
    }
    
}

