*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

.App{
transition: all 0.5s ease;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@import './nav';
@import './homepage';
@import './addtodofield';
@import './displaytodo';
@import './todocard';
